{% extends 'base.html.twig' %}

{% block title %}County Dashboard{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('county') }}
{% endblock %}

{% block content %}
    <table id="countyTable" class="table">
        <thead>
        <tr>
            <th>County</th>
            <th>Population</th>
            <th>Cases</th>
            <th>Deaths</th>
            <th>Active Cases Based upon 14 days</th>
            <th>14-Day Trend of Cases</th>
            <th>Last 14 Days (Rolling) Average</th>
        </tr>
        </thead>
        <tbody>
        {% for county in counties %}
            <tr>
                <th>{{ county.name }}</th>
                <td>{{ county.population|number_format() }}</td>
                <td>{{ county.cases }}</td>
                <td>{{ county.deaths }}</td>
                <td>{{ county.activeCases }}</td>
                <td class="percentage">
                    {{ percentageChange(county.averages.0, county.averages.12) }}%
                </td>
                <td class="chart" data-dates="{{ county.dates|json_encode() }}" data-averages="{{ county.averages|json_encode() }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block afterJavascripts %}
    {{ encore_entry_script_tags('county') }}
{% endblock %}