{% extends 'base.html.twig' %}

{% block title %}County Dashboard{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('county') }}
{% endblock %}

{% block content %}
    <style>
        .toolbar {
            float: left;
        }
    </style>
    <table id="countyTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="text-center font-weight-bolder">County</th>
            <th class="text-center font-weight-bolder">Population</th>
            <th class="text-center font-weight-bolder">Total <br> Cases</th>
            <th class="text-center font-weight-bolder">Total <br> Deaths</th>
            <th class="text-center font-weight-bolder">Active Cases <br> Based upon <br> 14 days<br>Incubation</th>
            <th class="text-center font-weight-bolder">14-Day <br> Trend <br> of Cases</th>
            <th class="text-center font-weight-bolder">Last 14 Days (Rolling) <br> Average</th>
        </tr>
        </thead>
        <tbody>
        {% for county in counties %}
            <tr>
                <th><a href="{{ path('homepage', {selectedCounty: county.name}) }}" class="text-black">{{ county.name }}</a></th>
                <td>{{ county.population|number_format() }}</td>
                <td>{{ county.cases|number_format() }}</td>
                <td>{{ county.deaths }}</td>
                <td>{{ county.activeCases }}</td>
                <td class="percentage">
                    {{ percentageChange(county.averages.0, county.averages.12) }}%
                </td>
                <td class="chart" data-dates="{{ county.dates|json_encode() }}" data-averages="{{ county.averages|json_encode() }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block afterJavascripts %}
    {{ encore_entry_script_tags('county') }}
{% endblock %}